@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 12px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
}

.left-links {
  padding-left: 0px;
  flex-shrink: 0;
}
.right-links {
  flex-shrink: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 16px;
}

li {
  flex: none;
}

a {
  text-decoration: none;
  color: gray;
}

.footer {
  background-color: #eeeeee;
}